body{
	padding-top: 70px;
}

body.stop-scrolling{
	overflow: visible !important;
}


ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.flyer-photo li{
	margin-bottom: 30px;
}

#addPhoto{
	margin-bottom: 30px;
}


.flyer-photo input[type='submit']{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #777;
    float: right;
    font-size: 30px;
    margin-bottom: -50px;
    margin-right: -8px;
    position: relative;
    top: -8px;
    z-index: 99;}

